<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <context:annotation-config />
    <context:spring-configured />
    <context:component-scan base-package="StudentResult" />

    <bean
            id="studentRepostiry" class="StudentRepostiryImpl">
    </bean>
    <bean
            id="readFromFile" class="ReadFromFileImpl">
    </bean>
    <bean
            id="studentResult" class="StudentResult">
    </bean>
    <bean id="showStudents" class="ShowStudentsImpl">
        <constructor-arg name="readFromFile" index="0" ref="readFromFile"/>
        <!--<constructor-arg name="path" index="1" type="java.lang.String" value="/Users/administrator/IdeaProjects/StudentSpring/SpringCore/src/main/resources/student.txt"/>-->
   <property name="path" value="/Users/administrator/IdeaProjects/StudentSpring/SpringCore/src/main/resources/student.txt"></property>
    </bean>


</beans>